@CHARSET "UTF-8";

div.item {
	border: 1px gray solid;
	padding: 5px;
	margin: 10px;
}
img {
   border: 1px lightgray solid;
	
}
div.image {
	float: left;
}
dl.description {
	margin-left: 110px;
}
p.button {
	clear: both;
	margin: 0px;
}
div.page-navi {
	text-align: center;
}
div.detail {
	margin-left: 190px;
	padding: 5px;
}
table.cart {
	width: 100%;
	border: 2px gray solid;
	border-collapse: collapse;
}
table.cart th,
table.cart td {
	border: 1px gray solid;
	text-align: center;
}
p.center {
	text-align: center;
}
form.address {
	border: 1px gray solid;
	margin: 5px 40px;
	padding: 10px;
}